/* FILEPATH: /c:/file/CSS/login.css */

.anchor-pane {
    -fx-background-color: #323740;
}
.Register {
    -fx-background-color: #444b58;
}
.RegisterTitle {
    -fx-text-fill: #ffffff;
}

.RegisterButton {
    -fx-background-color: #66c57f; 
}
#rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}